@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

body {
    background: #009579;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.app {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 1rem 1.4rem;
}

.note {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.14);
    border: none;
    min-width: 200px;
    outline: none;
    min-height: 200px;
    border-radius: 8px;
    resize: none;
    padding: 10px 12px;
    font-size: 1rem;
    font-weight: 700;
    z-index: 200;
    margin: 23px 0;
    border:2px solid white;
}

.note[disabled] {
    background-color: white;
    cursor: pointer;
}

.add_button {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    min-width: 200px;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.5);
    min-height: 200px;
    background: rgba(0, 0, 0, 0.14);
    border: none;
    outline: none;
    cursor: pointer;
    margin: 23px 17px;

}

@media screen and (max-width:768px) {
    .app {
        width: 100% !important;
    }

    .note {
        width: 120px !important;
        height: 120px !important;
        margin: 17px 2px !important;
    }

    .add_button {
        width: 140px !important;
        height: 140px !important;
    }
}

@media screen and (max-width:480px) {
    .app {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .note {
        min-width: 85%;
        min-height: 190px;
        margin: 13px auto;
        font-size: 0.9rem!important;

    }

    .add_button {
        min-width: 85%;
        min-height: 190px;
    }
}

@media screen and (max-width:300px) {
 .app {
     padding: 1rem 0.3rem;
 }
 .note {
     min-height: 170px;
     min-width: 92%!important;
 }
 .add_button {
     min-width: 92%!important;
     min-height: 170px;
 }
}